In [16]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [17]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:

# Look at NAME counts for binning
counts_name = application_df['NAME'].value_counts()
counts_name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [19]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_name[counts_name<5].index)

In [20]:


# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 500
application_types_to_replace = []

# Get the value counts of each application type
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
for app_type, count in application_type_counts.items():
    if count < cutoff_value:
        application_types_to_replace.append(app_type)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification_counts = classification_counts[classification_counts > 1]

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = []

# Get the value counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
for cls, count in classification_counts.items():
    if count < cutoff_value:
        classifications_to_replace.append(cls)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [24]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values


# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [25]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [26]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 21
hidden_nodes_layer2 = 14
hidden_nodes_layer3 = 7  # Adding a third hidden layer

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='relu'))  # Adding the new hidden layer

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 21)                9513
_________________________________________________________________
dense_5 (Dense)              (None, 14)                308
_________________________________________________________________
dense_6 (Dense)              (None, 7)                 105
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 8
=================================================================
Total params: 9,934
Trainable params: 9,934
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [29]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Train on 21865 samples, validate on 3859 samples
Epoch 1/100
21865/21865 [==============================] - 3s 137us/sample - loss: 0.5204 - accuracy: 0.7552 - val_loss: 0.4345 - val_accuracy: 0.7945
Epoch 2/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4347 - accuracy: 0.7907 - val_loss: 0.4271 - val_accuracy: 0.8010
Epoch 3/100
21865/21865 [==============================] - 2s 83us/sample - loss: 0.4260 - accuracy: 0.7945 - val_loss: 0.4252 - val_accuracy: 0.8012
Epoch 4/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4220 - accuracy: 0.7963 - val_loss: 0.4279 - val_accuracy: 0.7968
Epoch 5/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4204 - accuracy: 0.7980 - val_loss: 0.4284 - val_accuracy: 0.7979
Epoch 6/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4180 - accuracy: 0.7992 - val_loss: 0.4317 - val_accuracy: 0.8044
Epoch 7/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4175 - accuracy: 0.7992 - val_loss: 0.4325 - val_accuracy: 0.8033
Epoch 8/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4164 - accuracy: 0.8001 - val_loss: 0.4308 - val_accuracy: 0.8038
Epoch 9/100
21865/21865 [==============================] - 2s 83us/sample - loss: 0.4153 - accuracy: 0.7994 - val_loss: 0.4323 - val_accuracy: 0.8056
Epoch 10/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4150 - accuracy: 0.8004 - val_loss: 0.4339 - val_accuracy: 0.7942
Epoch 11/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4145 - accuracy: 0.8007 - val_loss: 0.4351 - val_accuracy: 0.8046
Epoch 12/100
21865/21865 [==============================] - 2s 89us/sample - loss: 0.4134 - accuracy: 0.8020 - val_loss: 0.4324 - val_accuracy: 0.8002
Epoch 13/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4133 - accuracy: 0.8008 - val_loss: 0.4329 - val_accuracy: 0.8007
Epoch 14/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4127 - accuracy: 0.8018 - val_loss: 0.4321 - val_accuracy: 0.8025
Epoch 15/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4121 - accuracy: 0.8026 - val_loss: 0.4360 - val_accuracy: 0.8002
Epoch 16/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4118 - accuracy: 0.8025 - val_loss: 0.4346 - val_accuracy: 0.8028
Epoch 17/100
21865/21865 [==============================] - 2s 104us/sample - loss: 0.4113 - accuracy: 0.8022 - val_loss: 0.4392 - val_accuracy: 0.7992
Epoch 18/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4111 - accuracy: 0.8027 - val_loss: 0.4359 - val_accuracy: 0.8031
Epoch 19/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4103 - accuracy: 0.8039 - val_loss: 0.4378 - val_accuracy: 0.8028
Epoch 20/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4107 - accuracy: 0.8031 - val_loss: 0.4374 - val_accuracy: 0.8015
Epoch 21/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4098 - accuracy: 0.8031 - val_loss: 0.4380 - val_accuracy: 0.7994
Epoch 22/100
21865/21865 [==============================] - 2s 91us/sample - loss: 0.4095 - accuracy: 0.8029 - val_loss: 0.4359 - val_accuracy: 0.8018
Epoch 23/100
21865/21865 [==============================] - 2s 88us/sample - loss: 0.4096 - accuracy: 0.8029 - val_loss: 0.4369 - val_accuracy: 0.8041
Epoch 24/100
21865/21865 [==============================] - 2s 88us/sample - loss: 0.4092 - accuracy: 0.8034 - val_loss: 0.4388 - val_accuracy: 0.8036
Epoch 25/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4085 - accuracy: 0.8036 - val_loss: 0.4406 - val_accuracy: 0.8049
Epoch 26/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4083 - accuracy: 0.8036 - val_loss: 0.4393 - val_accuracy: 0.8025
Epoch 27/100
21865/21865 [==============================] - 2s 87us/sample - loss: 0.4086 - accuracy: 0.8032 - val_loss: 0.4421 - val_accuracy: 0.7971
Epoch 28/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4080 - accuracy: 0.8041 - val_loss: 0.4393 - val_accuracy: 0.7994
Epoch 29/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4075 - accuracy: 0.8046 - val_loss: 0.4422 - val_accuracy: 0.7948
Epoch 30/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4070 - accuracy: 0.8049 - val_loss: 0.4408 - val_accuracy: 0.8031
Epoch 31/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4071 - accuracy: 0.8054 - val_loss: 0.4415 - val_accuracy: 0.7992
Epoch 32/100
21865/21865 [==============================] - 2s 89us/sample - loss: 0.4068 - accuracy: 0.8050 - val_loss: 0.4421 - val_accuracy: 0.8012
Epoch 33/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4065 - accuracy: 0.8053 - val_loss: 0.4406 - val_accuracy: 0.8002
Epoch 34/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4060 - accuracy: 0.8052 - val_loss: 0.4425 - val_accuracy: 0.8018
Epoch 35/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4064 - accuracy: 0.8045 - val_loss: 0.4425 - val_accuracy: 0.8031
Epoch 36/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4058 - accuracy: 0.8061 - val_loss: 0.4435 - val_accuracy: 0.8028
Epoch 37/100
21865/21865 [==============================] - 2s 90us/sample - loss: 0.4058 - accuracy: 0.8043 - val_loss: 0.4446 - val_accuracy: 0.8002
Epoch 38/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4050 - accuracy: 0.8054 - val_loss: 0.4420 - val_accuracy: 0.8023
Epoch 39/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4046 - accuracy: 0.8055 - val_loss: 0.4430 - val_accuracy: 0.8044
Epoch 40/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4052 - accuracy: 0.8052 - val_loss: 0.4460 - val_accuracy: 0.8015
Epoch 41/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4048 - accuracy: 0.8067 - val_loss: 0.4413 - val_accuracy: 0.8028
Epoch 42/100
21865/21865 [==============================] - 2s 95us/sample - loss: 0.4044 - accuracy: 0.8067 - val_loss: 0.4467 - val_accuracy: 0.8012
Epoch 43/100
21865/21865 [==============================] - 2s 86us/sample - loss: 0.4044 - accuracy: 0.8058 - val_loss: 0.4471 - val_accuracy: 0.8049
Epoch 44/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4044 - accuracy: 0.8065 - val_loss: 0.4451 - val_accuracy: 0.8020
Epoch 45/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4035 - accuracy: 0.8076 - val_loss: 0.4478 - val_accuracy: 0.7984
Epoch 46/100
21865/21865 [==============================] - 2s 84us/sample - loss: 0.4042 - accuracy: 0.8073 - val_loss: 0.4435 - val_accuracy: 0.8018
Epoch 47/100
21865/21865 [==============================] - 2s 96us/sample - loss: 0.4040 - accuracy: 0.8078 - val_loss: 0.4446 - val_accuracy: 0.8018
Epoch 48/100
21865/21865 [==============================] - 2s 102us/sample - loss: 0.4036 - accuracy: 0.8066 - val_loss: 0.4434 - val_accuracy: 0.8010
Epoch 49/100
21865/21865 [==============================] - 2s 87us/sample - loss: 0.4029 - accuracy: 0.8078 - val_loss: 0.4436 - val_accuracy: 0.8023
Epoch 50/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4033 - accuracy: 0.8072 - val_loss: 0.4432 - val_accuracy: 0.7994
Epoch 51/100
21865/21865 [==============================] - 2s 85us/sample - loss: 0.4032 - accuracy: 0.8070 - val_loss: 0.4470 - val_accuracy: 0.7994
Epoch 52/100
21865/21865 [==============================] - 4s 183us/sample - loss: 0.4027 - accuracy: 0.8075 - val_loss: 0.4470 - val_accuracy: 0.8002
Epoch 53/100
21865/21865 [==============================] - 8s 355us/sample - loss: 0.4025 - accuracy: 0.8064 - val_loss: 0.4470 - val_accuracy: 0.7981
Epoch 54/100
21865/21865 [==============================] - 8s 365us/sample - loss: 0.4028 - accuracy: 0.8075 - val_loss: 0.4462 - val_accuracy: 0.8015

Epoch 55/100
21865/21865 [==============================] - 5s 248us/sample - loss: 0.4020 - accuracy: 0.8081 - val_loss: 0.4481 - val_accuracy: 0.7958
Epoch 56/100
21865/21865 [==============================] - 7s 317us/sample - loss: 0.4021 - accuracy: 0.8080 - val_loss: 0.4466 - val_accuracy: 0.8005
Epoch 57/100
21865/21865 [==============================] - 7s 301us/sample - loss: 0.4018 - accuracy: 0.8086 - val_loss: 0.4472 - val_accuracy: 0.8015
Epoch 58/100
21865/21865 [==============================] - 7s 324us/sample - loss: 0.4013 - accuracy: 0.8085 - val_loss: 0.4494 - val_accuracy: 0.7994
Epoch 59/100
21865/21865 [==============================] - 9s 397us/sample - loss: 0.4015 - accuracy: 0.8080 - val_loss: 0.4473 - val_accuracy: 0.8012
Epoch 60/100
21865/21865 [==============================] - 4s 197us/sample - loss: 0.4014 - accuracy: 0.8084 - val_loss: 0.4482 - val_accuracy: 0.8033
Epoch 61/100
21865/21865 [==============================] - 7s 340us/sample - loss: 0.4011 - accuracy: 0.8086 - val_loss: 0.4455 - val_accuracy: 0.8015
Epoch 62/100
21865/21865 [==============================] - 4s 203us/sample - loss: 0.4008 - accuracy: 0.8089 - val_loss: 0.4508 - val_accuracy: 0.7976
Epoch 63/100
21865/21865 [==============================] - 8s 350us/sample - loss: 0.4006 - accuracy: 0.8086 - val_loss: 0.4541 - val_accuracy: 0.7968
Epoch 64/100
21865/21865 [==============================] - 5s 251us/sample - loss: 0.4008 - accuracy: 0.8084 - val_loss: 0.4505 - val_accuracy: 0.8012
Epoch 65/100
21865/21865 [==============================] - 6s 258us/sample - loss: 0.4008 - accuracy: 0.8086 - val_loss: 0.4484 - val_accuracy: 0.8002
Epoch 66/100
21865/21865 [==============================] - 8s 347us/sample - loss: 0.4009 - accuracy: 0.8089 - val_loss: 0.4480 - val_accuracy: 0.8020
Epoch 67/100
21865/21865 [==============================] - 9s 419us/sample - loss: 0.4002 - accuracy: 0.8082 - val_loss: 0.4524 - val_accuracy: 0.8020
Epoch 68/100
21865/21865 [==============================] - 7s 336us/sample - loss: 0.4001 - accuracy: 0.8088 - val_loss: 0.4508 - val_accuracy: 0.8015
Epoch 69/100
21865/21865 [==============================] - 5s 241us/sample - loss: 0.4000 - accuracy: 0.8087 - val_loss: 0.4505 - val_accuracy: 0.8002
Epoch 70/100
21865/21865 [==============================] - 8s 386us/sample - loss: 0.3996 - accuracy: 0.8088 - val_loss: 0.4488 - val_accuracy: 0.7974
Epoch 71/100
21865/21865 [==============================] - 8s 357us/sample - loss: 0.3998 - accuracy: 0.8078 - val_loss: 0.4499 - val_accuracy: 0.8031
Epoch 72/100
21865/21865 [==============================] - 6s 259us/sample - loss: 0.4001 - accuracy: 0.8087 - val_loss: 0.4509 - val_accuracy: 0.8020
Epoch 73/100
21865/21865 [==============================] - 5s 246us/sample - loss: 0.3996 - accuracy: 0.8086 - val_loss: 0.4492 - val_accuracy: 0.8031
Epoch 74/100
21865/21865 [==============================] - 8s 353us/sample - loss: 0.3999 - accuracy: 0.8092 - val_loss: 0.4516 - val_accuracy: 0.7997
Epoch 75/100
21865/21865 [==============================] - 6s 292us/sample - loss: 0.3994 - accuracy: 0.8088 - val_loss: 0.4509 - val_accuracy: 0.7987
Epoch 76/100
21865/21865 [==============================] - 5s 234us/sample - loss: 0.3987 - accuracy: 0.8086 - val_loss: 0.4543 - val_accuracy: 0.8007
Epoch 77/100
21865/21865 [==============================] - 9s 417us/sample - loss: 0.3994 - accuracy: 0.8092 - val_loss: 0.4492 - val_accuracy: 0.8005
Epoch 78/100
21865/21865 [==============================] - 5s 225us/sample - loss: 0.3993 - accuracy: 0.8095 - val_loss: 0.4500 - val_accuracy: 0.8020
Epoch 79/100
21865/21865 [==============================] - 8s 366us/sample - loss: 0.3988 - accuracy: 0.8086 - val_loss: 0.4517 - val_accuracy: 0.8005
Epoch 80/100
21865/21865 [==============================] - 8s 362us/sample - loss: 0.3993 - accuracy: 0.8083 - val_loss: 0.4505 - val_accuracy: 0.7997
Epoch 81/100
21865/21865 [==============================] - 9s 416us/sample - loss: 0.3989 - accuracy: 0.8091 - val_loss: 0.4523 - val_accuracy: 0.7987
Epoch 82/100
21865/21865 [==============================] - 8s 375us/sample - loss: 0.3988 - accuracy: 0.8084 - val_loss: 0.4574 - val_accuracy: 0.8015
Epoch 83/100
21865/21865 [==============================] - 3s 116us/sample - loss: 0.3987 - accuracy: 0.8090 - val_loss: 0.4546 - val_accuracy: 0.7992
Epoch 84/100
21865/21865 [==============================] - 3s 142us/sample - loss: 0.3989 - accuracy: 0.8090 - val_loss: 0.4553 - val_accuracy: 0.7997
Epoch 85/100
21865/21865 [==============================] - 5s 212us/sample - loss: 0.3987 - accuracy: 0.8090 - val_loss: 0.4563 - val_accuracy: 0.7987
Epoch 86/100
21865/21865 [==============================] - 5s 250us/sample - loss: 0.3986 - accuracy: 0.8094 - val_loss: 0.4553 - val_accuracy: 0.8007
Epoch 87/100
21865/21865 [==============================] - 6s 258us/sample - loss: 0.3988 - accuracy: 0.8093 - val_loss: 0.4536 - val_accuracy: 0.8020
Epoch 88/100
21865/21865 [==============================] - 5s 206us/sample - loss: 0.3984 - accuracy: 0.8088 - val_loss: 0.4598 - val_accuracy: 0.8012
Epoch 89/100
21865/21865 [==============================] - 4s 174us/sample - loss: 0.3987 - accuracy: 0.8087 - val_loss: 0.4545 - val_accuracy: 0.8012
Epoch 90/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.3984 - accuracy: 0.8080 - val_loss: 0.4552 - val_accuracy: 0.7968
Epoch 91/100
21865/21865 [==============================] - 3s 146us/sample - loss: 0.3987 - accuracy: 0.8090 - val_loss: 0.4536 - val_accuracy: 0.8005
Epoch 92/100
21865/21865 [==============================] - 4s 183us/sample - loss: 0.3983 - accuracy: 0.8086 - val_loss: 0.4567 - val_accuracy: 0.8018
Epoch 93/100
21865/21865 [==============================] - 4s 167us/sample - loss: 0.3981 - accuracy: 0.8097 - val_loss: 0.4580 - val_accuracy: 0.7987
Epoch 94/100
21865/21865 [==============================] - 4s 179us/sample - loss: 0.3980 - accuracy: 0.8086 - val_loss: 0.4549 - val_accuracy: 0.7992
Epoch 95/100
21865/21865 [==============================] - 5s 242us/sample - loss: 0.3982 - accuracy: 0.8091 - val_loss: 0.4578 - val_accuracy: 0.7979
Epoch 96/100
21865/21865 [==============================] - 4s 168us/sample - loss: 0.3976 - accuracy: 0.8091 - val_loss: 0.4534 - val_accuracy: 0.8002
Epoch 97/100
21865/21865 [==============================] - 5s 225us/sample - loss: 0.3979 - accuracy: 0.8086 - val_loss: 0.4546 - val_accuracy: 0.8018
Epoch 98/100
21865/21865 [==============================] - 4s 164us/sample - loss: 0.3980 - accuracy: 0.8092 - val_loss: 0.4549 - val_accuracy: 0.7992
Epoch 99/100
21865/21865 [==============================] - 3s 159us/sample - loss: 0.3984 - accuracy: 0.8085 - val_loss: 0.4539 - val_accuracy: 0.7999
Epoch 100/100
21865/21865 [==============================] - 4s 179us/sample - loss: 0.3979 - accuracy: 0.8088 - val_loss: 0.4604 - val_accuracy: 0.8007

In [30]:

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.4384 - accuracy: 0.7881
Loss: 0.4797140576540555, Accuracy: 0.7881049513816833

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation.h5")