In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df = application_df.drop(['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:

# Look at NAME counts for binning
counts_name = application_df['NAME'].value_counts()
counts_name

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [4]:
# Choose a cutoff value and create a list of names_replace to be replaced
# use the variable name names_replace
names_replace = list(counts_name[counts_name<5].index)

In [5]:
# Replace in dataframe
for name in names_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                19803
PARENT BOOSTER USA INC                                                1260
TOPS CLUB INC                                                          765
UNITED STATES BOWLING CONGRESS INC                                     700
WASHINGTON STATE UNIVERSITY                                            492
                                                                     ...
GUILDS OF THE SANTA FE OPERA INC                                         5
FAMILY MOTOR COACH ASSOCIATION                                           5
JAMESTOWN SOCIETY                                                        5
MOST WORSHIPFUL PRINCE HALL GRAND LODGE OF FREE & ACCEPTED MASONS        5
PTA HAWAII CONGRESS                                                      5
Name: NAME, Length: 403, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff_value = 500
application_types_to_replace = []

# Get the value counts of each application type
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
for app_type, count in application_type_counts.items():
    if count < cutoff_value:
        application_types_to_replace.append(app_type)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

# You may find it helpful to look at CLASSIFICATION value counts >1
filtered_classification_counts = classification_counts[classification_counts > 1]

# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 100
classifications_to_replace = []

# Get the value counts of each classification
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
for cls, count in classification_counts.items():
    if count < cutoff_value:
        classifications_to_replace.append(cls)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values


# drop 'IS SUCCESSFUL'
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

In [10]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [11]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
#try with more neurons and more layers

input_features = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))


# Third hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu'))

# Fourth Layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               57984
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_2 (Dense)              (None, 32)                2080
_________________________________________________________________
dense_3 (Dense)              (None, 16)                528
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 17
=================================================================
Total params: 68,865
Trainable params: 68,865
Non-trainable params: 0
_________________________________________________________________

2023-04-25 20:50:02.536090: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-25 20:50:02.536455: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 8. Tune using inter_op_parallelism_threads for best performance.

In [13]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Train on 21865 samples, validate on 3859 samples
Epoch 1/100
21865/21865 [==============================] - 6s 268us/sample - loss: 0.4771 - accuracy: 0.7727 - val_loss: 0.4305 - val_accuracy: 0.8028
Epoch 2/100
21865/21865 [==============================] - 5s 208us/sample - loss: 0.4293 - accuracy: 0.7956 - val_loss: 0.4307 - val_accuracy: 0.7992
Epoch 3/100
21865/21865 [==============================] - 5s 213us/sample - loss: 0.4230 - accuracy: 0.7964 - val_loss: 0.4290 - val_accuracy: 0.8002
Epoch 4/100
21865/21865 [==============================] - 5s 220us/sample - loss: 0.4213 - accuracy: 0.7993 - val_loss: 0.4293 - val_accuracy: 0.7997
Epoch 5/100
21865/21865 [==============================] - 5s 214us/sample - loss: 0.4193 - accuracy: 0.7988 - val_loss: 0.4363 - val_accuracy: 0.7984
Epoch 6/100
21865/21865 [==============================] - 5s 213us/sample - loss: 0.4185 - accuracy: 0.7998 - val_loss: 0.4351 - val_accuracy: 0.8038
Epoch 7/100
21865/21865 [==============================] - 5s 210us/sample - loss: 0.4174 - accuracy: 0.8002 - val_loss: 0.4340 - val_accuracy: 0.7994
Epoch 8/100
21865/21865 [==============================] - 5s 209us/sample - loss: 0.4174 - accuracy: 0.8016 - val_loss: 0.4388 - val_accuracy: 0.7976
Epoch 9/100
21865/21865 [==============================] - 5s 213us/sample - loss: 0.4152 - accuracy: 0.8020 - val_loss: 0.4398 - val_accuracy: 0.7997
Epoch 10/100
21865/21865 [==============================] - 5s 206us/sample - loss: 0.4152 - accuracy: 0.8023 - val_loss: 0.4397 - val_accuracy: 0.8018
Epoch 11/100
21865/21865 [==============================] - 4s 205us/sample - loss: 0.4137 - accuracy: 0.8022 - val_loss: 0.4423 - val_accuracy: 0.8002
Epoch 12/100
21865/21865 [==============================] - 4s 206us/sample - loss: 0.4134 - accuracy: 0.8031 - val_loss: 0.4404 - val_accuracy: 0.8018
Epoch 13/100
21865/21865 [==============================] - 5s 213us/sample - loss: 0.4125 - accuracy: 0.8031 - val_loss: 0.4392 - val_accuracy: 0.7997
Epoch 14/100
21865/21865 [==============================] - 4s 205us/sample - loss: 0.4113 - accuracy: 0.8029 - val_loss: 0.4393 - val_accuracy: 0.8020
Epoch 15/100
21865/21865 [==============================] - 4s 206us/sample - loss: 0.4113 - accuracy: 0.8043 - val_loss: 0.4401 - val_accuracy: 0.8033
Epoch 16/100
21865/21865 [==============================] - 5s 208us/sample - loss: 0.4105 - accuracy: 0.8038 - val_loss: 0.4424 - val_accuracy: 0.8028
Epoch 17/100
21865/21865 [==============================] - 4s 202us/sample - loss: 0.4099 - accuracy: 0.8044 - val_loss: 0.4482 - val_accuracy: 0.8015
Epoch 18/100
21865/21865 [==============================] - 4s 204us/sample - loss: 0.4090 - accuracy: 0.8056 - val_loss: 0.4532 - val_accuracy: 0.7966
Epoch 19/100
21865/21865 [==============================] - 4s 204us/sample - loss: 0.4086 - accuracy: 0.8052 - val_loss: 0.4539 - val_accuracy: 0.7994
Epoch 20/100
21865/21865 [==============================] - 4s 202us/sample - loss: 0.4081 - accuracy: 0.8052 - val_loss: 0.4516 - val_accuracy: 0.8012
Epoch 21/100
21865/21865 [==============================] - 5s 208us/sample - loss: 0.4073 - accuracy: 0.8057 - val_loss: 0.4509 - val_accuracy: 0.7992
Epoch 22/100
21865/21865 [==============================] - 4s 190us/sample - loss: 0.4066 - accuracy: 0.8059 - val_loss: 0.4554 - val_accuracy: 0.8010
Epoch 23/100
21865/21865 [==============================] - 4s 190us/sample - loss: 0.4063 - accuracy: 0.8050 - val_loss: 0.4473 - val_accuracy: 0.8018
Epoch 24/100
21865/21865 [==============================] - 4s 197us/sample - loss: 0.4052 - accuracy: 0.8067 - val_loss: 0.4461 - val_accuracy: 0.8025
Epoch 25/100
21865/21865 [==============================] - 4s 196us/sample - loss: 0.4046 - accuracy: 0.8075 - val_loss: 0.4462 - val_accuracy: 0.8002
Epoch 26/100
21865/21865 [==============================] - 4s 198us/sample - loss: 0.4055 - accuracy: 0.8057 - val_loss: 0.4451 - val_accuracy: 0.8015
Epoch 27/100
21865/21865 [==============================] - 4s 193us/sample - loss: 0.4049 - accuracy: 0.8063 - val_loss: 0.4539 - val_accuracy: 0.8020
Epoch 28/100
21865/21865 [==============================] - 4s 205us/sample - loss: 0.4039 - accuracy: 0.8061 - val_loss: 0.4395 - val_accuracy: 0.8025
Epoch 29/100
21865/21865 [==============================] - 4s 168us/sample - loss: 0.4036 - accuracy: 0.8070 - val_loss: 0.4520 - val_accuracy: 0.8020
Epoch 30/100
21865/21865 [==============================] - 3s 143us/sample - loss: 0.4034 - accuracy: 0.8074 - val_loss: 0.4587 - val_accuracy: 0.8010
Epoch 31/100
21865/21865 [==============================] - 3s 146us/sample - loss: 0.4032 - accuracy: 0.8075 - val_loss: 0.4628 - val_accuracy: 0.8025
Epoch 32/100
21865/21865 [==============================] - 3s 148us/sample - loss: 0.4027 - accuracy: 0.8081 - val_loss: 0.4561 - val_accuracy: 0.8028
Epoch 33/100
21865/21865 [==============================] - 3s 148us/sample - loss: 0.4011 - accuracy: 0.8084 - val_loss: 0.4646 - val_accuracy: 0.8015
Epoch 34/100
21865/21865 [==============================] - 3s 142us/sample - loss: 0.4016 - accuracy: 0.8077 - val_loss: 0.4675 - val_accuracy: 0.8023
Epoch 35/100
21865/21865 [==============================] - 3s 148us/sample - loss: 0.4008 - accuracy: 0.8080 - val_loss: 0.4643 - val_accuracy: 0.8015
Epoch 36/100
21865/21865 [==============================] - 3s 148us/sample - loss: 0.4009 - accuracy: 0.8093 - val_loss: 0.4705 - val_accuracy: 0.7992
Epoch 37/100
21865/21865 [==============================] - 3s 147us/sample - loss: 0.4006 - accuracy: 0.8080 - val_loss: 0.4562 - val_accuracy: 0.8028
Epoch 38/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3999 - accuracy: 0.8077 - val_loss: 0.4718 - val_accuracy: 0.7987
Epoch 39/100
21865/21865 [==============================] - 3s 143us/sample - loss: 0.3997 - accuracy: 0.8091 - val_loss: 0.4876 - val_accuracy: 0.8005
Epoch 40/100
21865/21865 [==============================] - 3s 141us/sample - loss: 0.3993 - accuracy: 0.8080 - val_loss: 0.4779 - val_accuracy: 0.8012
Epoch 41/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3991 - accuracy: 0.8089 - val_loss: 0.4732 - val_accuracy: 0.8020
Epoch 42/100
21865/21865 [==============================] - 3s 138us/sample - loss: 0.3991 - accuracy: 0.8083 - val_loss: 0.4705 - val_accuracy: 0.8010
Epoch 43/100
21865/21865 [==============================] - 3s 148us/sample - loss: 0.3988 - accuracy: 0.8094 - val_loss: 0.5048 - val_accuracy: 0.8010
Epoch 44/100
21865/21865 [==============================] - 3s 153us/sample - loss: 0.4002 - accuracy: 0.8094 - val_loss: 0.4728 - val_accuracy: 0.8031
Epoch 45/100
21865/21865 [==============================] - 4s 167us/sample - loss: 0.3978 - accuracy: 0.8088 - val_loss: 0.5050 - val_accuracy: 0.8002
Epoch 46/100
21865/21865 [==============================] - 5s 249us/sample - loss: 0.3985 - accuracy: 0.8099 - val_loss: 0.4793 - val_accuracy: 0.8007
Epoch 47/100
21865/21865 [==============================] - 3s 156us/sample - loss: 0.3982 - accuracy: 0.8098 - val_loss: 0.5031 - val_accuracy: 0.7976
Epoch 48/100
21865/21865 [==============================] - 3s 157us/sample - loss: 0.3978 - accuracy: 0.8103 - val_loss: 0.4987 - val_accuracy: 0.7999
Epoch 49/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3972 - accuracy: 0.8099 - val_loss: 0.4895 - val_accuracy: 0.7992
Epoch 50/100
21865/21865 [==============================] - 3s 139us/sample - loss: 0.3982 - accuracy: 0.8081 - val_loss: 0.5130 - val_accuracy: 0.8007
Epoch 51/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3977 - accuracy: 0.8095 - val_loss: 0.5051 - val_accuracy: 0.7989
Epoch 52/100
21865/21865 [==============================] - 3s 139us/sample - loss: 0.3969 - accuracy: 0.8100 - val_loss: 0.5058 - val_accuracy: 0.8002
Epoch 53/100
21865/21865 [==============================] - 3s 143us/sample - loss: 0.3969 - accuracy: 0.8099 - val_loss: 0.4882 - val_accuracy: 0.8005
Epoch 54/100

21865/21865 [==============================] - 3s 138us/sample - loss: 0.3964 - accuracy: 0.8099 - val_loss: 0.5150 - val_accuracy: 0.8010
Epoch 55/100
21865/21865 [==============================] - 3s 138us/sample - loss: 0.3961 - accuracy: 0.8101 - val_loss: 0.5423 - val_accuracy: 0.8012
Epoch 56/100
21865/21865 [==============================] - 3s 139us/sample - loss: 0.3980 - accuracy: 0.8102 - val_loss: 0.5122 - val_accuracy: 0.7997
Epoch 57/100
21865/21865 [==============================] - 4s 172us/sample - loss: 0.3966 - accuracy: 0.8086 - val_loss: 0.5007 - val_accuracy: 0.7997
Epoch 58/100
21865/21865 [==============================] - 5s 236us/sample - loss: 0.3979 - accuracy: 0.8093 - val_loss: 0.5114 - val_accuracy: 0.7997
Epoch 59/100
21865/21865 [==============================] - 11s 489us/sample - loss: 0.3962 - accuracy: 0.8097 - val_loss: 0.5135 - val_accuracy: 0.7989
Epoch 60/100
21865/21865 [==============================] - 3s 146us/sample - loss: 0.3961 - accuracy: 0.8100 - val_loss: 0.5239 - val_accuracy: 0.7992
Epoch 61/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3955 - accuracy: 0.8107 - val_loss: 0.5312 - val_accuracy: 0.7974
Epoch 62/100
21865/21865 [==============================] - 3s 142us/sample - loss: 0.3960 - accuracy: 0.8106 - val_loss: 0.5553 - val_accuracy: 0.7984
Epoch 63/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3972 - accuracy: 0.8099 - val_loss: 0.5099 - val_accuracy: 0.7994
Epoch 64/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3955 - accuracy: 0.8104 - val_loss: 0.5540 - val_accuracy: 0.7994
Epoch 65/100
21865/21865 [==============================] - 3s 141us/sample - loss: 0.3959 - accuracy: 0.8105 - val_loss: 0.5285 - val_accuracy: 0.7981
Epoch 66/100
21865/21865 [==============================] - 3s 141us/sample - loss: 0.3968 - accuracy: 0.8104 - val_loss: 0.4906 - val_accuracy: 0.8005
Epoch 67/100
21865/21865 [==============================] - 3s 149us/sample - loss: 0.3954 - accuracy: 0.8099 - val_loss: 0.4991 - val_accuracy: 0.8020
Epoch 68/100
21865/21865 [==============================] - 7s 310us/sample - loss: 0.3949 - accuracy: 0.8096 - val_loss: 0.5095 - val_accuracy: 0.8010
Epoch 69/100
21865/21865 [==============================] - 11s 512us/sample - loss: 0.3949 - accuracy: 0.8101 - val_loss: 0.5090 - val_accuracy: 0.7997
Epoch 70/100
21865/21865 [==============================] - 17s 765us/sample - loss: 0.3940 - accuracy: 0.8107 - val_loss: 0.5348 - val_accuracy: 0.8018
Epoch 71/100
21865/21865 [==============================] - 5s 217us/sample - loss: 0.3951 - accuracy: 0.8103 - val_loss: 0.5241 - val_accuracy: 0.7987
Epoch 72/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3947 - accuracy: 0.8102 - val_loss: 0.5298 - val_accuracy: 0.7966
Epoch 73/100
21865/21865 [==============================] - 5s 245us/sample - loss: 0.3945 - accuracy: 0.8101 - val_loss: 0.5074 - val_accuracy: 0.8020
Epoch 74/100
21865/21865 [==============================] - 5s 207us/sample - loss: 0.3955 - accuracy: 0.8109 - val_loss: 0.5473 - val_accuracy: 0.8007
Epoch 75/100
21865/21865 [==============================] - 4s 164us/sample - loss: 0.3944 - accuracy: 0.8115 - val_loss: 0.5194 - val_accuracy: 0.8002
Epoch 76/100
21865/21865 [==============================] - 9s 417us/sample - loss: 0.3948 - accuracy: 0.8106 - val_loss: 0.4977 - val_accuracy: 0.8015
Epoch 77/100
21865/21865 [==============================] - 14s 660us/sample - loss: 0.3944 - accuracy: 0.8108 - val_loss: 0.5517 - val_accuracy: 0.8012
Epoch 78/100
21865/21865 [==============================] - 12s 546us/sample - loss: 0.3941 - accuracy: 0.8103 - val_loss: 0.5372 - val_accuracy: 0.7994
Epoch 79/100
21865/21865 [==============================] - 3s 140us/sample - loss: 0.3938 - accuracy: 0.8100 - val_loss: 0.5579 - val_accuracy: 0.7979
Epoch 80/100
21865/21865 [==============================] - 3s 155us/sample - loss: 0.3933 - accuracy: 0.8115 - val_loss: 0.5540 - val_accuracy: 0.7974
Epoch 81/100
21865/21865 [==============================] - 7s 310us/sample - loss: 0.3930 - accuracy: 0.8106 - val_loss: 0.6135 - val_accuracy: 0.7971
Epoch 82/100
21865/21865 [==============================] - 12s 568us/sample - loss: 0.3936 - accuracy: 0.8106 - val_loss: 0.5868 - val_accuracy: 0.7981
Epoch 83/100
21865/21865 [==============================] - 9s 407us/sample - loss: 0.3933 - accuracy: 0.8102 - val_loss: 0.5432 - val_accuracy: 0.7963
Epoch 84/100
21865/21865 [==============================] - 4s 170us/sample - loss: 0.3940 - accuracy: 0.8111 - val_loss: 0.5323 - val_accuracy: 0.7989
Epoch 85/100
21865/21865 [==============================] - 4s 178us/sample - loss: 0.3966 - accuracy: 0.8096 - val_loss: 0.5123 - val_accuracy: 0.8002
Epoch 86/100
21865/21865 [==============================] - 9s 400us/sample - loss: 0.3929 - accuracy: 0.8111 - val_loss: 0.5233 - val_accuracy: 0.8010
Epoch 87/100
21865/21865 [==============================] - 5s 220us/sample - loss: 0.3929 - accuracy: 0.8118 - val_loss: 0.5113 - val_accuracy: 0.8010
Epoch 88/100
21865/21865 [==============================] - 6s 258us/sample - loss: 0.3934 - accuracy: 0.8118 - val_loss: 0.5538 - val_accuracy: 0.7989
Epoch 89/100
21865/21865 [==============================] - 12s 527us/sample - loss: 0.3928 - accuracy: 0.8118 - val_loss: 0.5226 - val_accuracy: 0.7997
Epoch 90/100
21865/21865 [==============================] - 9s 430us/sample - loss: 0.3920 - accuracy: 0.8114 - val_loss: 0.5297 - val_accuracy: 0.7987
Epoch 91/100
21865/21865 [==============================] - 9s 400us/sample - loss: 0.3930 - accuracy: 0.8119 - val_loss: 0.5518 - val_accuracy: 0.7984
Epoch 92/100
21865/21865 [==============================] - 13s 616us/sample - loss: 0.3929 - accuracy: 0.8113 - val_loss: 0.5285 - val_accuracy: 0.8002
Epoch 93/100
21865/21865 [==============================] - 14s 661us/sample - loss: 0.3927 - accuracy: 0.8117 - val_loss: 0.5362 - val_accuracy: 0.8002
Epoch 94/100
21865/21865 [==============================] - 3s 149us/sample - loss: 0.3924 - accuracy: 0.8115 - val_loss: 0.5941 - val_accuracy: 0.7999
Epoch 95/100
21865/21865 [==============================] - 4s 162us/sample - loss: 0.3923 - accuracy: 0.8117 - val_loss: 0.6158 - val_accuracy: 0.8025
Epoch 96/100
21865/21865 [==============================] - 4s 167us/sample - loss: 0.3930 - accuracy: 0.8113 - val_loss: 0.5694 - val_accuracy: 0.7984
Epoch 97/100
21865/21865 [==============================] - 3s 157us/sample - loss: 0.3926 - accuracy: 0.8118 - val_loss: 0.5712 - val_accuracy: 0.8005
Epoch 98/100
21865/21865 [==============================] - 4s 162us/sample - loss: 0.3926 - accuracy: 0.8112 - val_loss: 0.5904 - val_accuracy: 0.7992
Epoch 99/100
21865/21865 [==============================] - 4s 163us/sample - loss: 0.3922 - accuracy: 0.8114 - val_loss: 0.6093 - val_accuracy: 0.7992
Epoch 100/100
21865/21865 [==============================] - 4s 161us/sample - loss: 0.3927 - accuracy: 0.8118 - val_loss: 0.5870 - val_accuracy: 0.8005

In [15]:

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 0s - loss: 0.5159 - accuracy: 0.7868
Loss: 0.6105407311026626, Accuracy: 0.7868221402168274

In [24]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation.h5")